@import "tailwindcss";

:root {
    --primary: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
}

/* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #a1a1a1;
}


header {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */